*{
	margin: 0;
	padding: 0;
	font-family: calibri;
}

header{
	width: 100%;
}

footer{
	padding-top: 40px;
	height: 70px;
	width: 100%;
	text-align: center;
	color: #696969;
}

.btnmenu{
	color: #000C80;
	background-color: #87CEEB;
	padding: 10px;
	text-align: center;
	text-decoration: none;
	font-size: 1.2em;
	font-weight: bold;
}

.btnmenu:hover{
	color: #1E90FF;
	background-color: white;
	font-weight: bold;
	padding: 10px;
	text-align: center;
	text-decoration: none;
	font-size: 1.2em;
}

#imglogo{
	display: flex;
	height: 50px;
	width: 190px;
	margin-left: 100px;
	margin-top: 2px;
}

#search{
	padding: 10px;
	margin: 20px;
	margin-top: 40px;
	color: #000C80;
	font-size: 17px;
	border-radius: 5px;
	border: hidden;
	margin-top: 6.5px;
	width: 1150px;
}

#carrinho{
	margin-top: 6px;
	height: 40px;
	width: 45px;
	margin-left: 20px;
	margin-right: 90px;
}

#btncadastro{
	margin-top: 6px;
	color: #000C80;
	background-color: #ADD8E6;
	width: 160px;
	height: 43px;
	padding: 4px;
	border-radius: 5px;
	border: hidden;
}

#bonecologin{
	min-height: 35px;
	max-height: 35px;
	min-width: 35px;
	max-width: 35px;
	display: flex;
}

#txt1{
	font-weight: bold;
	font-size: 16px;
	margin-top: -35px;
	margin-left: -3px;
}

#txt2{
	font-size: 12px;
	margin-left: 7px;
	margin-top: -1px;
}

.txt{
	display: block;
}

.triangle{
	display: flex;
	border-top: 10px solid #000C80;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-bottom: 10px solid transparent;
	margin-left: 120px;
	margin-top: -20px;
	margin-right: 100px;
}

#div-header{
	background-color: #87CEEB;
	height: 90.5px;
	padding: 20px;
}

#div-header-layout{
	display: flex;
	margin-bottom: 20px;
	justify-content: center;
}

#div-header-buttons{
	margin-top: -10px;
	width: 100%;
	text-align: center;
}

.divinicio{
    min-height: 120px;
    width: 100%;
    padding: 20px;
    margin: 5px;
}

#apresentacao{
	padding: 10px;
	font-size: 18px;
	text-align: center;
}

.slider{
	height: 320px;
	overflow: hidden;
	margin-bottom: 30px;
}

.imgbanner{
	width: 100%;
	min-height: 320px;
}

.slides{
	width: 500%;
	height: 500px;
	display: flex;
}

.slides input{
	display: none;
}

.dc-slider{
	display: flex;
	justify-content: center;
}

.slide{
	width: 20%;
	transition: 2s;
}

.slide img{
	height: 1570px;
	height: 320px;
	min-height: 320px;
}

.navigation-manual{
	position: absolute;
	width: 1570px;
	margin-top:-210px;
	display: flex;
	justify-content: center;
}

.manual-btn{
	border: 2px solid #87CEEB;
	padding: 5px;
	border-radius: 10px;
	cursor: pointer;
	transition: 1s;
}

.manual-btn:not(:last-child){
	margin-right: 40px;
}

.margin-btn:hover{
	background: blue;
}

#radio1:checked ~ .first{
	margin-left: 0;
}

#radio2:checked ~ .first{
	margin-left: -20%;
}

#radio3:checked ~ .first{
	margin-left: -40%;
}

#radio4:checked ~ .first{
	margin-left: -60%;
}

.navigation-auto{
	position: absolute;
	display: flex;
	width: 800px;
	justify-content: center;
	margin-top: 290px;
	margin-left: 385px;
}

.navigation-auto div{
	border: 2px solid #40D3DC;
	padding: 5px;
	border-radius: 10px;
	transition: 1s;
}

.navigation-auto div:not(:last-child){
	margin-right: 40px;
}

#radio1:checked ~ .navigation-auto .auto-btn1{
	background: blue;
}

#radio2:checked ~ .navigation-auto .auto-btn2{
	background: blue;
}

#radio3:checked ~ .navigation-auto .auto-btn3{
	background: blue;
}

#radio4:checked ~ .navigation-auto .auto-btn4{
	background: blue;
}

#label1{
	font-size: 20px;
	font-weight: bold;
	padding-left: 5px;
	padding-right: 5px;
}

#label2{
	font-size: 15px;
	padding-left: 5px;
}

.titles{
	font-family: calibri;
	font-size: 21px;
	color: black;
	width: 1100px;
}

.dc-titles{
	display: flex;
	justify-content: center;
}

.imgX{
	display: flex;
	min-height: 150px;
	max-height: 150px;
	min-width: 150px;
	max-width: 150px;
	padding: 20px;
}

.coracao{
	height: 15px;
	width: 15px;
}

.legendas{
	margin-top: -15px;
}

#div-section-index{
	display: block;
}

#div-marcas-bem-avaliadas{
	display: flex;
	height: 300px;
	justify-content: center;
}

#div-favoritos-dos-cachorros{
	display: flex;
	height: 300px;
	justify-content: center;
}

#div-favoritos-dos-gatos{
	display: flex;
	height: 300px;
	justify-content: center;
}

section nav{
	text-align: center;
	justify-content: center;
	margin-top: 10px;
}

.nav-img-index a{
	text-decoration: none;
	color: black;
}

#dc-cadastro{
	display: flex;
	justify-content: center;
}

#parte-cadastro{
	background-color: black;
	background-image: linear-gradient(#ADD8E6,#ADD8E6,#87CEEB);
	border-radius: 10px;
	display: flex;
	align-items: center;
	height: 70px;
	width: 1100px;
}

#cadastrartxt{
	font-size: 30px;
	color: #000C80;
	text-shadow: 2px 2px #FFFFFF;
	margin-left: 70px;
}

#cadastrartxt2{
	text-decoration: none;
	font-size: 20px;
}

#parte-cadastro a{
	text-decoration: none;
}

#parte-cadastro nav{
	background-color: #87CEEB;
	color: #000C80;
	padding: 7px;
	width: 130px;
	border-radius: 5px;
	border: 1px solid #000C80;
	margin-top: 0px;
	margin-left: 530px;
	text-decoration: none;
}

#parte-cadastro nav:hover{
	background-color: #FFFFFF;
	color: #1E90FF;
	padding: 7px;
	width: 130px;
	border: 1px solid #A9A9A9;
	border-radius: 5px;
}

#dc-motivacional{
	display: flex;
	justify-content: center;
}

#txt-motivacional{
	width: 1100px;
	margin-top: 60px;
}

#txt-motivacional label{
	font-size: 30px;
}

#txt-motivacional p{
	padding-top: 20px;
	color: #696969;
	font-size: 16px;
}

#txt-motivacional text{
	font-weight: bold;
}

#dc-departamentos{
	display: flex;
	justify-content: center;
	align-items: center; 
}

#nav-departamentos label{
	font-size: 20px;
}

#nc-departamentos{
	display: flex;
	justify-content: center;
	padding-top: 40px;
}

#nav-departamentos{
	width: 1100px;
	text-align: left;
}

#departamentos{
	display: flex;
	border-top: 1px solid #A9A9A9;
	border-bottom: 1px solid #A9A9A9;
	width: 1100px;
	justify-content: center;
}

.imgDepartamentos{
	height: 60px;
	width: 60px;
	padding-top: 15px;
	padding-bottom: 15px;
	padding-left: 25px;
	padding-right: 25px;
}