<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>PessoaServlet</servlet-name>
        <servlet-class>br.com.servlet.PessoaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FornecedorServlet</servlet-name>
        <servlet-class>br.com.servlet.FornecedorServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PessoaListaServlet</servlet-name>
        <servlet-class>br.com.servlet.PessoaListaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PessoaListaIDServlet</servlet-name>
        <servlet-class>br.com.servlet.PessoaListaIDServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FornecedorListaServlet</servlet-name>
        <servlet-class>br.com.servlet.FornecedorListaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FornecedorListaIDServlet</servlet-name>
        <servlet-class>br.com.servlet.FornecedorListaIDServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>PessoaServlet</servlet-name>
        <url-pattern>/pessoa.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FornecedorServlet</servlet-name>
        <url-pattern>/fornecedor.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PessoaListaServlet</servlet-name>
        <url-pattern>/pessoalista.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PessoaListaIDServlet</servlet-name>
        <url-pattern>/listaid.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FornecedorListaServlet</servlet-name>
        <url-pattern>/fornecedorlista.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FornecedorListaIDServlet</servlet-name>
        <url-pattern>/fornecedorlistaid.do</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
